 /* RESET */
 /* SECTION */
 .mock-section {
     background: white;
     padding: 10px;
 }


.mock-tittle{
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
    text-align: left;
}
 
 /* GRID */
 .mock-grid {
     display: grid;
     gap: 10px;
     grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
 }

 /* CARD BASE */
 .mock-card {
      background: white;
    border-radius: 10px;
    border: 1px solid #d4d4d4;
    padding: 10px;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
 }

 .mock-card:hover {
     transform: scale(1.04);
     box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
 }

 /* COLOR THEMES */
 .mock-card.blue {
     background: linear-gradient(to bottom right, #e9f1ff, #dbe8ff);
     border-color: #aac8ff;
 }

 .mock-card.green {
     background: linear-gradient(to bottom right, #eaffea, #d4f7d4);
     border-color: #b6e6b6;
 }

 /* HEADER INSIDE CARD */
 .card-header {
     display: flex;
     align-items: center;
     margin-bottom: 10px;
 }



 .card-title {
     font-size: 15px;
     font-weight: 700;
     color: #222;
 }

 /* DETAILS */
 .card-details {
     margin-bottom: 5px;
 }

 .detail-item {
     display: flex;
     justify-content: space-between;
     font-size: 12px;
     margin-bottom: 5px;
     color: #555;
 }

 .detail-item i {
     color: #007bff;
     margin-right: 0px;
 }

 .card-header i {
 font-size: 16px;
  color: #004aad;
  background: #e3f2fd;
  padding: 10px;
  border-radius: 5px;

 }

 /* PRICE ROW */
 .price-row {
     display: flex;
     align-items: center;
     justify-content: space-between;
     margin-bottom: 10px;
 }

 .price {
     font-size: 15px;
     font-weight: 700;
     color: #004aad;
 }

 .discount {
     background: #e63946;
     color: #fff;
     padding: 5px 5px;
     border-radius: 5px;
     font-size: 12px;
     font-weight: 700;
 }

 /* BUTTON */
 .start-btn {
     width: 100%;
     padding: 10px;
     background: linear-gradient(to right, #004aad, #007bff);
     color: #fff;
     border: none;
     font-weight: 700;
     border-radius: 5px;
     cursor: pointer;
     transition: background 0.3s, transform 0.2s;
 }

 .start-btn:hover {
     background: linear-gradient(to right, #003b99, #005fda);
     transform: translateY(-2px);
 }

 /* RESPONSIVE GRID */
 @media (max-width: 600px) {
     .mock-grid {
         grid-template-columns: repeat(2, 1fr);
     }

     .card-title {
         font-size: 13px;
     }
 }

 @media (min-width: 601px) and (max-width: 1024px) {
     .mock-grid {
         grid-template-columns: repeat(4, 1fr);
     }
 }

 @media (min-width: 1025px) {
     .mock-grid {
         grid-template-columns: repeat(6, 1fr);
     }
 }